language: python

services:
  - docker

before_install:
  - docker build -t dockerdemo .
  - cd /usr
  - cd ..
  - ls
  - cd dockerdemo 
  - SRCCLR_ENABLE_CONTAINERS=true srcclr scan --image dockerdemo 
  
script:
    - python -m pytest -v
addons:
  srcclr: true