language: python

services:
  - docker

before_install:
  - docker build -t dockerdemo .
  - SRCCLR_ENABLE_CONTAINERS=true srcclr scan --container dockerdemo 
  
script:
    - python -m pytest -v
addons:
  srcclr: true